/* Font Family Import */
/* @import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* Global Style */
html,
body,
#root {
  /* height: 100%; */
  /* width: 100%; */
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
  /* background-color: gray; */
  font-family: 'Poppins', sans-serif;
}

.sidebar-container {
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity, 1));
  /* box-shadow: 0 19px 38px rgb(116 116 116 / 30%), 0 15px 12px rgb(104 103 103 / 22%) */
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(151, 150, 150);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(199, 198, 198);
  border-radius: 10px;
}